<a href="https://colab.research.google.com/github/teja7978/tejstreamlit/blob/main/Python_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
2*9

18

In [ ]:
type(1)

int

In [ ]:
type('a,b,c')

str

In [ ]:
type(10.0)

float

In [ ]:
type(True)

bool

In [ ]:
eno=10
eno_name= "teja"
eno_salary= 45,56,67
print("The given employee number is ",eno)
print("The given employee name is",eno_name)
print("The given employee salary is",eno_salary)

The given employee number is  10
The given employee name is teja
The given employee salary is (45, 56, 67)

In [ ]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(type(a))
print(type(b))
print(a+b)

enter a value10
enter b value20
<class 'int'>
<class 'int'>
30

In [ ]:
eno=int(input("enter employee number"))
eno_name=input("enter employee name")
eno_salary=float(input("enter employee salary"))
print("The given employee number is ",eno)
print("The given employee name is",eno_name)
print("The given employee salary is",eno_salary)

enter employee number20
enter employee nametejaa
enter employee salary30000
The given employee number is  20
The given employee name is tejaa
The given employee salary is 30000.0

In [ ]:
#write a python to enter radius of circle and find the area?
radius=int(input("enter the radius of circle"))
pi=3.14
area=pi*radius*radius
print("the area of circle is",area)

Object `area` not found.
enter the radius of circle2
the area of circle is 12.56

In [ ]:
#write a python program find area circumference of rectangular?
l=int(input("enter the length of rectangular"))
b=int(input("enter the breadth of rectangular"))
area=l*b
circumference=2*l+b
print("the area of rectangular is",area)
print("the circumference of rectangular is",circumference)

enter the length of rectangular5
enter the breadth of rectangular10
the area of rectangular is 50
the circumference of rectangular is 20

In [ ]:

#write a python program to check the person wheather eligble for voting or not?
age=int(input("enter the age"))
if age>=18:
    print("eligible for voting")
else:
    print("not eligible for voting")

enter the age18
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negative or zero?
n=int(input("enter a positive or negative or zero"))
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

enter a positive or negative or zero20
positive

In [ ]:
#which weather the number is even or odd?
n=int(input("enter number is even or odd"))
if n==2:
   print("even")
elif n==1:
   print("odd")

enter number is even or odd2
even

In [ ]:
from IPython.core.history import DatabaseError
#accept employee basic salary and fing gross salary.
basic=int(input("enter a basic salary and find gross profit"))
if basic <=10000:
     # HRA is 70% on basic, DA is 56% on basic
   HRA=(basic*(70/100))
   DA=(basic*(56/100))
   print("The HRA is",HRA)
   print("The DA is",DA)
elif basic<=20000:
   HRA=(basic*(73/100))
   DA=(basic*(60/100))
   print("The HRA is",HRA)
   print("The DA is",DA)
else:
   HRA=(basic*(80/100))
   DA=(basic*(66/100))
   print("The HRA is",HRA)
   print("The DA is",DA)
gs=basic+HRA+DA

enter a basic salary and find gross profit10000
The HRA is 7000.0
The DA is 5600.000000000001

In [ ]:
username=input("enter username")
if username=="admin":
   password=input("enter passsword")
   if password=="1234":
      print("valid user")
   else:
      print("ivalid password")
else:
    print("invalid username")

enter usernameadmin
enter passsword1234
valid user

In [ ]:
#SBI ATM : 500,200,100
sample input:7800
expected output:
  500--15
  200---2
  100--1
amt=int(input("enter withdraw amt:"))

In [ ]:
amount=int(input("enter wirthdraw amount:"))
if amount%100==0:
   if amount>=500:
      five=amount/500
      amount=amount-(five*500)
      print("500-----",five)
   if amount>=200:
      two=amount//200
      amount=amount-(two*200)
      print("200----",two)
   if amount>=100:
      one=amount//100
      print("100----",one)

enter wirthdraw amount:8800
500----- 17.6

Day-3

In [ ]:
# -accept project marks, internal marks,external marks from student
# -pass marks is 50 in each subject
# -calculate total score if student got more than or equal to 50 in subject.
# total_score=70% on project+ 20% on external
#              +
#          10% on internal
#  print A grade if score is 90+
#        B grade if score b/w 70-60
#        c grade if score b/w 50-70
project=int(input("enter the project marks"))
internal=int(input("enter the internal marks"))
external=int(input("enter the external marks"))
if project>=50 and internal>=50 and external>=50:
   total=(project/100)*70+(external/100)*20+(internal/100)*10
   print("total score is:",total)
   if total>=90:
      print("A grade")
   elif total>=70:
        print("B grade")
   else:
        print("C grade")

enter the project marks90
enter the internal marks86
enter the external marks78
total score is: 87.19999999999999
B grade

In [ ]:

https://sl1nk.com/G10Hh

In [ ]:
#accept start and stop value and print b/w values
start: 10
stop: 100
o/p: 10 11 12 ...99

In [ ]:
for i in range(1,10):
  print(i,end=",")

1,2,3,4,5,6,7,8,9,

In [ ]:
for i in range(20,100,10):
  print(i,end="-")

20-30-40-50-60-70-80-90-

In [ ]:
start= 100
stop=500
for i in range(100,500,100):
   print(i,end=",")

100,200,300,400,

In [ ]:
start= 100
stop=1000
for i in range(100,1000,100):
   print(i,end=",")

100,200,300,400,500,600,700,800,900,

In [ ]:
start=1000
stop=5000
for i in range(1000,5000,600):
   print(i,end=",")

1000,1600,2200,2800,3400,4000,4600,

In [ ]:
start=int(input("enter a start value"))
stop=int(input("enter a top value"))
if start<stop:
   for i in range(start,stop):
     print(i,end="")
elif start>stop:
   for 1 in range(start,stop,-1):
    print(i,end="")
else:
    print("your start and stop values are same")

SyntaxError: cannot assign to literal (ipython-input-797279464.py, line 7)

In [1]:
# 10  --> 1 2 5
# 50  --> 1 2 5 10 25
num=int(input("Enter your number to print factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        print(i,end=" ")

Enter your number to print factors :200
1 2 4 5 8 10 20 25 40 50 100

In [4]:
# Write a program to print count of factors of a given number
# 10
  #  1 2 5

# 50  -- 5
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :78
number of factors:  7

In [6]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :3
3  is a prime number

In [9]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :28
28  is perfect number

In [11]:
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end=" ")
    print()

Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi

In [12]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [17]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" * ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    *   *      *   *
 *         *         *
 *                  *
    *            *
       *      *
          *

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not