<a href="https://colab.research.google.com/github/teja7978/tejstreamlit/blob/main/python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to find number of digits in a given number
 #input: 5235
 #op: 4

num=6574
count=0
while num!=0:           # 0 !=0
    num=num//10         # 6//10  --> 0
    count=count+1        # 4
print("Number of digits : ",count)

Number of digits :  4

In [ ]:
# Write a program to display the number in reverse order
# input: 6324  ---
# output: 4236

num=9284
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  4829

In [ ]:
x=56
y='hyde'
z=True
d=9.76
x=56,"hyde",True,9.76

In [ ]:
m=65,45,'hyd',True
m

(65, 45, 'hyd', True)

In [ ]:
a=13
if a>=18:
    print("eligible:",a)
else:
    print("not eligible",a)

not eligible 13

In [ ]:
age=(18,20,10,30,28,13,12)
for i in age:
 if i>=18:
    print("eligible:",i)
 else:
    print("not eligible",i)

eligible: 18
eligible: 20
not eligible 10
eligible: 30
eligible: 28
not eligible 13
not eligible 12

In [ ]:
salary=(20,30,60,100,120,160)
salary

(20, 30, 60, 100, 120, 160)

In [ ]:
salary=(20,30,60,100,120,160)
salary.appened(300)
salary

AttributeError: 'tuple' object has no attribute 'appened'

In [ ]:
data=[20,30,60,100,120,160]
data.append(300)
data

[20, 30, 60, 100, 120, 160, 300]

In [ ]:
data=[200,300,500,600,3675,576]
data.insert(2,900)
data

[200, 300, 900, 500, 600, 3675, 576]

In [ ]:
salary=[40,50,60,70,80,90,20]
salary.remove(40)
salary

[50, 60, 70, 80, 90, 20]

In [ ]:
salary
salary.pop(4)
salary

[50, 60, 63, 57]

In [ ]:

salary.sort()
salary

[50, 57, 60, 63]

In [ ]:
len(salary)

4

In [ ]:
#Fucntion: fuction is a group of statements which returns some result.

1. Function with paramenters and without return value
2. Function with paramenters and with return value
3. Function without paramenters and without return value
4. Function without paramenters and wit return value

In [3]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True

b=isPrime1(7)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Not a prime number

In [6]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1(7)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Prime number

In [7]:
#3. Function without paramenters and without return value
def isPrime():
    num=int(input("Enter your number :"))
    count=0
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
        print(num," is a prime number")
    else:
        print(num," is not a prime number")

isPrime()

Enter your number :5
5  is a prime number

In [ ]:
# 4. Function without paramenters and wit return value
def isPrime1():
    num=int(input("Enter your number"))
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1()
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

In [8]:
def viewPrograms():
    print("1. Prime number program")
    print("2. Reverse of a given number")
    print("3. Print factors of a given number")
    option=int(input("Choose your option: "))
    if option==1:
        isPrime()
    elif option==2:
        reverseNumber()
    elif option==3:
        factors()
    else:
        print("Please select 1 to 3")
def isPrime():
    print("Prime number program")
def reverseNumber():
    print("Reverse number code")
def factors():
    print("Factors code")


viewPrograms()

1. Prime number program
2. Reverse of a given number
3. Print factors of a given number
Choose your option: 2
Reverse number code

In [12]:
class ATM:
    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1

In [16]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        self.acbal=self.acbal+amt
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :120
Avaliable bal is:  10120

In [ ]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
          if amt<=50000:
              self.acbal=self.acbal+amt
          else:
              print("please enter multiples of 100")

        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

In [24]:
class ATM:
    acbal=10000
    def withdraw(self):
      # accept amount
      # amount should be multiples of 100
      # withdraw amount should be less than acbal
      # transaction limit is 20k
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2

In [29]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 500

In [30]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 300
200 rupees notes are :  1
100 rupees notes are   1

In [32]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 4556
Please enter multiples of 100

In [31]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 6700
500 rupees notes are :  13
200 rupees notes are :  1
Avaliable bal is:  3300

In [33]:
class ATM:
    acbal=10000
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt

            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            obj.withdraw()
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 3
Avaliable bal is:  10000
1 for continue and 0 for EXIT400
Thank you, Visit again

In [34]:
class ATM:
    acbal=10000
    wcount=0
    def validation(self):
        pin=int(input("Enter your pin: "))
        if pin==1234:
            obj.viewOptions()
        else:
            print("Invalid pin number, try again")
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    self.wcount=self.wcount+1
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            if self.wcount<3:
                obj.withdraw()
            else:
                print("your transaction limit is over for the day")
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.validation()

Enter your pin: 1234
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 2000
500 rupees notes are :  4
Avaliable bal is:  8000
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :2000
Avaliable bal is:  10000
1 for continue and 0 for EXIT0
Thank you, Visit again